{% extends ('base.html.twig') %}

{% block active_home %} active {% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">EleQ</h1>
        <p class="lead">We sell Electronic products!</p>
    </div>
</div>


{% endblock %}
