{% extends ('base.html.twig') %}

{% block active_contact %} active {% endblock %}

{% block body %}
   <h1>Billing page</h1>
    <form action="{{ path('bill') }}" method="POST">
                   <div class="modal-footer">
                        
                        <button type="submit" class="btn btn-primary">CheckOut</button>
                    </div>
                </form>
    {% endblock %}