{% extends ('base.html.twig') %}

{% block active_contact %} active {% endblock %}

{% block body %}
    {# <h1>via Email:- ELEQ@gmail.com</h1>
    <h1>via phone:- 555-876-9999</h1>
    <h1>via mail:- 1212,Add street,Montreal - H11 2V3,QC #}

    <div class="hs-wel">
<div class="container">
  <div class="row">
    <div class="col-12">
     <a href="#">
      <i class="fas fa-home"></i>
     </a>
    
    <span>Welcome to EleQ Electronics</span>
    </div>
   </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2796.9178614085017!2d-73.58371338515593!3d45.491598779101274!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a6c597e5669%3A0x8dbf497cbd80d838!2sColl%C3%A8ge%20LaSalle!5e0!3m2!1sen!2sca!4v1576782813196!5m2!1sen!2sca" width="100%" height="350" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
    </div>
   </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
  <div class="hs-ad">
<i class="fas fa-map-marker-alt"></i>
  <span>2000 St. cathrine road, Montreal, Canada</span>
</div>

<div class="hs-ad">
  <i class="fas fa-phone-volume"></i>
   <span>Phone number: +1(514)566-4532</span>
</div>
</div>
</div>
</div>
<div class="container-fluid hs-footer">
  <div class="row">
   <div class="col-6">
    <i class="far fa-copyright"></i>
     <span>Designed by EleQ manager</span>
   </div>
     <div class="col-6 text-right social">
      <i class="fab fa-twitter"></i>
      <i class="fab fa-google-plus-g"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-facebook-f"></i>
     </div>
   </div>
 </div>
    {% endblock %}